body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	font-family: 'Inconsolata', monospace;
	color: white;
	font-size: 1.5vw;
	background-color: #171719;
}

.center {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: relative;
	top: 50%;
	transform: translateY(-50%); 
	text-align: center;
}

a {
	color: white;
	text-decoration: none;
}

a:hover { 
    color: #de4847;
}

hr {
	width: 28vw;
}

@media only screen and (max-width: 900px) {
    body {
        font-size: 5vw;
    }

    hr {
    	width: 90vw;
    }
}